* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 540px;
    background: url(img.jpg) center / cover;
    box-shadow: 0 7px 14px rgba(0, 0, 0, .3);
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, transparent,#470144 70%);
    transition: .9s ease;
    opacity: 0;
    border-radius: 20px;
}
.container:hover .overlay {
    opacity: 1;
}

.content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 230px;
    color: #fff;
    font-family: "poppins" , sans-serif;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box {
    padding-bottom: 9px;
    display: flex;


    justify-content: space-between;
}

#name {
    font-size: 24px;
    font-weight: 800;
}

.text {
    font-size: 18px;
    color: #f1bed1;
    margin: 5px;
}

.title {
    font-size: 16px;
    color: #fff;

}

.title span {
    color: rgb(248, 214, 64);
}

.genre {
    color: rgb(245, 203, 135);
    padding: 9px 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 14px;
}

.genre:hover {
    color: #ffffff;
    border: 0px solid transparent!important;
    text-decoration: none;
    padding-left: 15px;
}

.rating {
    font-size: 14px;
    color: #f9c80c;
}

.rating span {
    color: #fff;
}

.about {
    padding: 5px;
    color: rgb(171, 214, 191);
    font-size: 14px;
}

button {
    height: 40px;
    border: none;
    margin: 5px;
    border-radius: 20px;
    background-color: #f9c80e;
    font-size: 18px;
    font-family: "poppins" , sans-serif;
    font-weight: 700;
}

button:hover {
    background-color: #be9b1b;
    transition: all 0.3s ease-in-out;
}

.fa-play {
    margin-left: 5px;
}